

/*section quote*/
/*section quote end*/

/*section how-we-are*/
#how-we-are {
    display: table;
    margin: 0;
}
#how-we-are>div {
    display: table-cell;
    color: white;
}
#mission-statement {
    width: 55%;
    padding: 125px 45px 20px 80px;
    line-height: 1.6;
}
#mission-statement .link-red {
    margin-top: 40px;
}
#squares {
    width: 44%;
}
#squares>div>div {
    border: 1px solid white;
    border-right: none;
    border-top: none;
}
#squares>div>div.noborder {
    border-bottom: none;
}
#squares a {
    display: block;
    padding-top: 75px;
    height: 275px;
    margin-left: -15px;
    margin-right: -15px;
}
#squares h4 {
    color: white;
    margin-top: 25px;
}
/*section how-we-are end*/

/*section fundraising*/
#fundraising {
    color: white;
    background-color: #014c8f;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 155px;
}
#fundraising>header {
    padding: 80px;
}
#fundraising h1, #fundraising header img {
    margin-bottom: 35px;
}
#fundraising main .row {
    margin: 0;
}
#fundraising .col-sm-4 {
    padding: 0;
}
.info-card h4 {
    background-color: #ee2744;
    padding: 13px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 20px;
}
.hidden-text {
    margin-top: 25px;
}
#card-1 {
    background: url("../../img/main/cards/card-1.jpg") no-repeat;
    background-size: cover;
}
#card-2 {
    background: url("../../img/main/cards/card-2.jpg") no-repeat;
    background-size: cover;
}
#card-3 {
    background: url("../../img/main/cards/card-3.jpg") no-repeat;
    background-size: cover;
}
.hidden-text {
    display: none;
}
.info-card {
    min-height: 590px;
    position: relative;
}
.info-card a {
    width: 170px;
    height: 70px;
    line-height: 70px;
    border: 2px solid white;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 60px;
    color: white;
}
.info-card a:hover {
    border-color: #9a9a9a;
}
.link-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.info-card:hover {
    cursor: pointer;
}
.info-card:hover .card-hover {
    background-color: rgba(0,0,0,0.5);
}
.info-card:hover .hidden-text {
    display: block;
}
.card-hover {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 55px 45px;
}

/*section fundraising end*/

/*section news*/
#news {
    padding: 70px 0;
    color: white;
    font-size: 16px;
    line-height: 1.6;
}
#news-wrapper>a:first-child {
    height: 42px;
    line-height: 42px;
    padding: 0 30px;
    background: #fffcfd;
    color: black;
    display: inline-block;
    border-radius: 1px;
    font-size: 20px;
    font-weight: bold;
}
#news-wrapper h1 {
    line-height: 1.3;
    margin: 30px 0;
}
#news-wrapper .link-red {
    margin-top: 65px;
}
/*section news end*/

ul.nav a[href="index.php"]>span {
    border-bottom: 3px solid white;
}