section {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 19px;
}

#mission-overview h1 {
    font-size: 42px;
}
#mission-overview p {
    font-size: 23px;
}

#mission-details {
    background: white;
    padding-top: 90px;
    padding-bottom: 90px;
}
#mission-details p {
    color: #014c8f;
}
#mission-details header strong {
    font-size: 22px;
}

#mission-help {
    background: #f12842;
    padding-top: 80px;
    padding-bottom: 50px;
}
#mission-help a {
    color: white;
    height: 70px;
    line-height: 70px;
    padding: 0 40px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 25px;
    display: inline-block;
}